{% extends "_base.jinja" %}

{% block content %}
{#    <h1>hi! my name's theo <i>(he/him)</i>.</h1>#}
{#    <p>this is my website.</p>#}

		<p>
			i care a lot about privacy, human rights, good design and craftsmanship. since
			creating and using software is both my main hobby and my planned career path,
			i'm particularly passionate about these values in the context of technology. i
			support libre software, open standards and the <a href="https://indieweb.org" target="_blank">indie web</a>.
		</p>
		<p>
			i've been programming recreationally since elementary school, and i've always
			found a great deal of fulfillment in making useful things and sharing them
			with the world. one day, i'd like to get paid for that, so i'm studying for a
			bachelor of sciences degree in information and communication technology,
			expecting to graduate in 2027. you can see some of my work on <a href="https://github.com/thcrt">github</a>.
		</p>
		<p>
			i don't use much social media. you can contact me on the <a href="https://fediverse.info" target="_blank">fediverse</a> at
			<code>@thcrt@fops.cloud</code>. you can also email me at <code>hello@<span class="obfuscation">OBFUSCATED</span>theocourt.com</code>.
		</p>

{#    {% macro button(link, src, alt) -%}#}
{#        <a href="{{ link }}">#}
{#            <img#}
{#                class="button-img"#}
{#                src="{{ url_for('static', filename='buttons/'+src) }}"#}
{#                alt="{{ alt }}"#}
{#            />#}
{#        </a>#}
{#    {%- endmacro %}#}
{#    <div id="buttons">#}
{#        {{ button("https://en.wikipedia.org/wiki/This_machine_kills_fascists", "thismachinekillsfascists.png", "This machine kills fascists") }}#}
{#        {{ button("https://ublockorigin.com/", "ublockoriginnow.png", "uBlock Origin now!") }}#}
{#        {{ button("https://creativecommons.org/licenses/by-nc-sa/4.0/", "cc-by-nc-sa.png", "CC BY-NC-SA") }}#}
{#        {{ button("https://xkcd.com/1179/", "iso8601.png", "ISO 8601 (year, month, day) now!") }}#}
{#        {{ button("https://notbyai.fyi", "notbyai.png", "Written by human, not by AI") }}#}
{#        {{ button("https://www.hetzner.com/", "hetzner.png", "Hosted on Hetzner") }}#}
{#        {{ button("https://debian.org/", "debianpowered.gif", "Debian powered") }}#}
{#        {{ button("https://lynx.invisible-island.net/", "lynxfriendly.gif", "Lynx friendly") }}#}
{#        {{ button("https://archive.org/", "preservenow.png", "Preserve now!") }}#}
{#        <a#}
{#            id="button-explainer"#}
{#            href="/src/buttons"#}
{#        >#}
{#            about these buttons#}
{#        </a>#}
{#    </div>#}
{% endblock content %}
