<!doctype html>

<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1"
	/>

	<title>theo court</title>
	<meta
		name="description"
		content="I'm a New Zealand-born German developer studying ICT in the Netherlands.
                 Here you can find my blog, as well as some projects I've worked on."
	/>

	</head>
<body>

	<header>
		<h1>hi! my name's theo <i>(he/him)</i>.</h1>
		<p>this is my website.</p>
	</header>

	<main>
		<p>
			i care a lot about privacy, human rights, good design and craftsmanship. since
			creating and using software is both my main hobby and my planned career path,
			i'm particularly passionate about these values in the context of technology. i
			support libre software, open standards and the <a href="https://indieweb.org" target="_blank">indie web</a>.
		</p>
		<p>
			i've been programming recreationally since elementary school, and i've always
			found a great deal of fulfillment in making useful things and sharing them
			with the world. one day, i'd like to get paid for that, so i'm studying for a
			bachelor of sciences degree in information and communication technology,
			expecting to graduate in 2027. you can see some of my work on <a href="https://github.com/thcrt">github</a>.
		</p>
		<p>
			i don't use much social media. you can contact me on the <a href="https://fediverse.info" target="_blank">fediverse</a> at
			<code>@thcrt@fops.cloud</code>. you can also email me at <code>hello@<span class="obfuscation">OBFUSCATED</span>theocourt.com</code>.
		</p>
	</main>

	<footer>
        {% macro button(link, src, alt) -%}
            <li>
                <a href="{{ link }}">
                    <img
                        class="button-img"
                        src="{{ url_for('static', filename='buttons/'+src) }}"
                        alt="{{ alt }}"
                    />
                </a>
            </li>
        {%- endmacro %}
		<ul id="buttons">
			{{ button("https://88by31.neocities.org/", "88x31.png", "88x31") }}
			{{ button("https://yesterweb.org/no-to-web3/", "saynotoweb3.gif", "Keep the web free: Say no to Web3") }}
			{{ button("https://en.wikipedia.org/wiki/This_machine_kills_fascists", "thismachinekillsfascists.png", "This machine kills fascists") }}
			{{ button("https://ublockorigin.com/", "ublockoriginnow.png", "uBlock Origin now!") }}
			{{ button("https://creativecommons.org/licenses/by-nc-sa/4.0/", "cc-by-nc-sa.png", "CC BY-NC-SA") }}
			{{ button("https://www.mozilla.org/en-US/firefox/browsers/", "firefox.png", "Firefox: Take back the web") }}
			{{ button("https://vscodium.com", "vscodium.gif", "Made with VSCodium") }}
			{{ button("https://88x31.kate.pet/", "88x31-kate-pet.png", "88x31.kate.pet") }}
			{{ button("https://xkcd.com/1179/", "iso8601.png", "ISO 8601 (year, month, day) now!") }}
			{{ button("https://notbyai.fyi", "notbyai.png", "Written by human, not by AI") }}
			{{ button("https://www.hetzner.com/", "hetzner.png", "Hosted on Hetzner") }}
			{{ button("https://debian.org/", "debianpowered.gif", "Debian powered") }}
			{{ button("https://lynx.invisible-island.net/", "lynxfriendly.gif", "Lynx friendly") }}
			{{ button("https://jellyfin.org/", "jellyfin.gif", "Jellyfin") }}
			{{ button("https://archive.org/", "preservenow.png", "Preserve now!") }}
			<a
				href="/src/buttons"
				id="button-explainer"
			>
				about these buttons
			</a>
		</ul>
		{% include "quote.j2" %}
		<span id="notice"> © 2024 Theo Court </span>
	</footer>
</body>
</html>
