@import "reset.css";

body {
    padding: min(5svh, 5svw);
    max-width: 50rem;
    margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

    color: hsl(0 0 95%);
    background-color: hsl(0 0 5%);

    line-height: 1.5;
    font-family: B612, "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    &.preload * {
        transition: none !important;
    }
}

header {
    margin-block-end: 2rem;

    #title, > nav > ul {
        padding-block: 0.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #title {
        border-bottom: 1px solid currentColor;
        align-items: end;

        h1 {
            font-size: 2rem;
        }

        #quote {
            font-size: 0.9rem;
            font-weight: 400;
            font-style: italic;
            text-decoration: underline dashed 1px;

            color: color-mix(in hsl, currentColor 50%, transparent);
            cursor: pointer;

            opacity: 1;
            transition: opacity 0.2s;

            &.htmx-swapping, &.htmx-added {
                opacity: 0;
            }
        }
    }

    > nav > ul {
        font-size: 1.2rem;
    }
}

main {
	line-height: 1.6;


	p {
		/*noinspection CssInvalidPropertyValue*/
		text-wrap: pretty;

		&:not(:last-child) {
			margin-block-end: 1rem;
		}
	}

    code {
        font-size: 0.8rem;
        font-family: "B612 Mono", "IBM Plex Mono", "Courier New", Courier, monospace;
    }
}


footer {
    margin-top: auto;
    text-align: center;

	font-size: 0.6rem;
}
